.layout {
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
    .pageTitle {
        color: #222;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.52px;
    }
}
