.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.isFinishCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    background: #c3e7b8;
}
