.user {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ADADAD;

    transition: all 0.25s;

    .text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #ADADAD;

        &:hover {
            color: #757575;
            text-decoration: underline;
        }
    }

}