.wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    width: 100%;

    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}