.section {
    width: 100%;
    display: flex;
    align-items: center;
    .title {
        position: absolute;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #000;
        align-self: flex-start;
    }
}
