.tag {
    cursor: default;
    display: flex;
    padding: 4px 8px 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    background: #F6FAF7;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    color: #449429
}