.headerSkeleton {
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: #ebebeb 2px solid;

    background: #fff;
}
