.burger__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
        outline: none;
    }
    .burger__stick {
        width: 36px;
        height: 2px;
        background: #3d3d3d;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 5.5px;
    }
    .stick__active__first {
        transform: rotate(35deg);
    }
    .stick__active__second {
        transform: rotate(-35deg);
    }
    .stick__disable {
        transform: rotate(0deg);
    }
}
