.header {
    width: 100vw;
    height: 35vh;
    background: #fff;
    border: 1px solid #ebebeb;
    margin: -32px -40px 0 -40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    @media screen and (max-width: 1048px) {
        width: 100%;
        margin: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .bG {
        background: linear-gradient(
            253deg,
            rgba(63, 158, 55, 0.25) 19.87%,
            rgba(50, 126, 44, 0.25) 20.09%,
            rgba(204, 252, 53, 0.25) 38.41%,
            rgba(21, 150, 75, 0.25) 38.85%,
            rgba(255, 243, 115, 0.25) 57.5%,
            rgba(255, 96, 73, 0.25) 57.98%,
            rgba(109, 230, 252, 0.25) 78.42%,
            rgba(63, 158, 55, 0.25) 78.97%
        );
        width: 100%;
        height: 55%;
        @media screen and (max-width: 1048px) {
            height: 100%;
        }
    }

    .layout {
        padding: 0 40px 0 40px;
        margin-top: -48px;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        width: 100%;
        @media screen and (max-width: 1048px) {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            margin-bottom: 24px;
            display: inline-block;
            padding: 0 16px 0 16px;
            margin-top: 0;
        }
        .profile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100vw - 524px);
            @media screen and (max-width: 1048px) {
                justify-content: center;
                flex-direction: column;
                width: fit-content;
            }

            .user {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2px;
                margin-bottom: 16px;
                @media screen and (max-width: 1048px) {
                    align-items: center;
                    flex-wrap: wrap;
                }
                .h2 {
                    color: #222;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 130%;
                    @media screen and (max-width: 1048px) {
                        text-wrap: nowrap;
                    }
                }
                .tags {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    @media screen and (max-width: 1048px) {
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                    }
                    .h3 {
                        color: #757575;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        @media screen and (max-width: 1048px) {
                            text-wrap: nowrap;
                        }
                    }
                    .h3__link {
                        color: #757575;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        @media screen and (max-width: 1048px) {
                            text-wrap: nowrap;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .circle {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: #757575;
                    }
                }
            }
        }
    }
}
