.layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .helperText {
        color: #222;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.2s;

        &:hover {
            color: #449429;
            cursor: pointer;
        }
    }
}